
.filter {
    width: 100%;
    height: auto;
    .filter-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 5px;
        box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.185);
        overflow-x: scroll;
        &::-webkit-scrollbar {
            background-color: $light;
            border-bottom: 1px solid $plhover;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $primary_light;
            border-radius: 50px;
            border: 2px solid white;
        }
        .control {
            margin: 0px 5px;
            color: $plhover !important;
            background-color: $light;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid $plhover;
            }
        }
        .control-active {
            border-bottom: 2px solid $plhover;
        }
    }
    .filter-content {
        margin-top: 5%;
        width: 100%;
        height: auto;
        h3 {
            position: relative;
            text-transform: uppercase;
            font-weight: bold;
            color: $plhover; 
            margin: 40px 0px;
            padding-bottom: 10px;
            &::before,&::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $bg-box;
                border-radius: 50%;
                width: 8px;
                height: 6px;
                margin-top: 10px;
            }
            &::after {
                width: 100px !important;
                margin-left: 10px;
                border-radius: 0px !important;
            }
        }

        .box {
            position: relative;
            width: 100%;
            height: 100vh;
            padding: 25px 10px;
            background-color: $bg-box;
            border-radius: 10px;
            border: 1px dashed $primary_light;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                background-color: $light;
                border-bottom: 1px solid $plhover;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $primary_light;
                border-radius: 50px;
                border: 2px solid white;
            }

            .box-item {
                position: relative;
                width: 100%;
                height: auto;
                border-radius: 4px;
                background-color: $bg-card;
                box-shadow: 3px 6px 16px rgba(0, 0, 0, 0.192);
                border-radius: 5px;
                margin: 10px;
            
                video {
                    border-radius: 5px 5px 0px 0px;
                }
                .video-course{
                    width: 100%;
                    height: auto;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: linear-gradient(rgba(0, 0, 0, 0.116),rgba(0, 0, 0, 0.555));
                        width: 100%;
                        height: 100%;
                    }
                }

                .content {
                    margin: 10px;
                    h5 {
                        color: $light;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: bold;
                        font-size: 26px;
                    }
                    p {
                        text-align: center;
                        color: rgb(204, 204, 204);
                        font-size: 13px;
                    }
                    .box-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 13px;
                        margin-top: 20px;
                        color: rgb(126, 126, 126);
                    }
                    .btn {
                        background-color: $primary_light;
                        color: $light;
                        padding: 5px !important;
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}